body {
  margin: 0;
  padding: 0;
}

.board-parent {
  height: 100vh;
  align-content: center;
}

.board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  max-width: 30vw;
  text-align: center;
  justify-content: center;
}

.board > div {
  border: 1px solid black;
  height: 100px;
  align-content: center;
  background-color: lightblue;
  cursor: pointer;
  font-size: 30px;
  user-select: none;
}

.otp-parent > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.otp-parent input {
  border: 1px solid black;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
}

.progress-bar {
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.progress-bar > span {
  position: relative;
  z-index: 1;
}

.progress-bar > div {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
  width: 100%;
  transform-origin: left;
  transition: 1s ease-in-out;
}

.dd-board {
  background-color: azure;
  height: 100vh;
  position: relative;
}

.note {
  background-color: blanchedalmond;
  width: 250px;
  font-size: 1rem;
  position: absolute;
  cursor: move;
  user-select: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-parent {
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #373737;
}

.light {
  border: 1px solid black;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: gray;
}